extends layout

block content
  .content
    h2 Build your own config
    p#title
      | Choose the code sample you like more:
    #option
    #progress.option-progress
      |Option
      span#step 1
      |of 24

