extends layout

block content
  .content
    .demo-half
      label Paste your code here &darr;
      textarea.demo-textarea#input(name='input') #{input}
    .demo-half
      label Combed code will appear here &darr;
      textarea.demo-textarea#output(readonly=true) #{output}
  .demo-footer
    button.demo-button#comb Comb it!

  script.
    // Click magic button:
    document.getElementById('comb').addEventListener('click', function(e) {
      e.preventDefault();

      // Input:
      var data = 'input=' + document.getElementById('input').value;

      // Request:
      var req = new XMLHttpRequest();
      req.onreadystatechange = function(){
        if (req.readyState === 4) {
            document.getElementById('output').value = req.responseText;
        }
      };
      req.open('POST', '/online', true);
      req.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      req.send(data);
    });

