extends layout

block content
  .splash
    .content
      .comb
      hgroup
        h1 CSScomb
        h2 The greatest tool for making CSS beautiful

  .nani
    .content
      h2 Plugins
      .plugins
        -// Grunt
        a.plugins-link(href='https://github.com/csscomb/grunt-csscomb')
          img(src='/img/grunt.png', width=100, height=100)
        -// gulp
        a.plugins-link(href='https://github.com/koistya/gulp-csscomb')
          img(src='/img/gulp.png', width='auto', height=100)
        -// Brunch
        a.plugins-link(href='https://github.com/garetht/csscomb-brunch')
          img(src='/img/brunch.jpg', width=100, height=100)
        -// Brackets
        a.plugins-link.plugins-link-humble(href='https://github.com/i-akhmadullin/brackets-csscomb')
          img(src='/img/brackets.png', width=90, height=90)
        -// Sublime
        a.plugins-link.plugins-link-humble(href='https://github.com/csscomb/sublime-csscomb')
          img(src='/img/sublime.png', width=90, height=90)


