doctype html
html
  head
    title
      |CSScomb
      if title
        |: #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body(class=id)
    -// Header
    .header
      .content
        if id != 'index'
          a.header-title(href='/') CSScomb
        a.header-link(href='/online', class=(id == 'demo' ? 'is-active' : '')) Try online
        a.header-link(href='/config', class=(id == 'config' ? 'is-active' : '')) Build config
        a.header-link(href='/docs', class=(id == 'docs' ? 'is-active' : '')) Getting started

    -// Content
    block content

    .footer
      a.footer-link(href='https://github.com/csscomb/csscomb.js') GitHub
      a.footer-link(href='https://twitter.com/csscomb') Twitter

    a.github-ribbon(href="https://github.com/csscomb/csscomb.js")
      img(src="/img/github.png", alt="Fork me on GitHub", width=149, height=149)

    if id == 'config'
      script(src='/scripts/config.js')
