doctype html
html
  head
    meta(name='google-site-verification', content='cSBcTWHEvQ5yNjH5EIWcL7XYWRsJy3_oGE1jEhrKZC0')
    title
      |CSScomb
      if title
        |: #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body(class=id)
    -// Header
    .header
      .content
        if id != 'index'
          a.header-title(href='/') CSScomb
        a.header-link(href='/online', class=(id == 'demo' ? 'is-active' : '')) Try online
        a.header-link(href='/config', class=(id == 'config' ? 'is-active' : '')) Build config
        a.header-link(href='/docs', class=(id == 'docs' ? 'is-active' : '')) Getting started

    -// Content
    block content

    .footer
      a.footer-link(href='https://github.com/csscomb/csscomb.js') GitHub
      a.footer-link(href='https://twitter.com/csscomb') Twitter

    if id == 'config'
      script(src='/scripts/config.js')

    script(type='text/javascript')
      | (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter24784802 = new Ya.Metrika({id:24784802, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
    noscript
      div
        img(src='//mc.yandex.ru/watch/24784802', style='position:absolute; left:-9999px;')
