html {
    height: 100%;
}
body {
    position: relative;
    margin: 0;
    padding: 0 0 100px;
    min-height: calc(100% - 100px);
    background: #fff;
    color: #333;
    font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1 {
    padding: 10px 0;
    text-align: center;
    font-weight: normal;
}
h2 {
    margin: 2.5em 0 1em;
    font-weight: normal;
    font-size: 1.6em;
    line-height: 1.7;
}
h2:first-of-type {
    margin-top: 0.5em;
    border-top: none;
}
hgroup h2:first-of-type {
    margin-top: -1em;
}
h3 {
    margin: 1.5em 0 1em;
    font-weight: normal;
    font-size: 1.35em;
}
p {
    line-height: 1.5;
}
a:link, a:visited {
    color: #e74c3c;
}
a:hover, a:active {
    color: #000;
}
ul, ol {
    line-height: 1.5;
}
pre {
    overflow: auto;
    padding: 6px 10px;
    border: 1px solid #ecf0f1;
    border-radius: 3px;
    background: #ecf0f1;
    font-size: 13px;
    font-family: Consolas, Courier, monospace;
    line-height: 19px;
}
code {
    margin: 0 2px;
    padding: 0 5px;
    border-radius: 3px;
    background: #ecf0f1;
    font-family: Consolas, Courier, monospace;
}
pre code {
    margin: 0;
    padding: 0;
    border: none;
    background: inherit;
    font-size: inherit;
}

.index {
    background: #ecf0f1;
}

.comb {
    display: inline-block;
    margin: 0 30px 0 -30px;
    width: 350px;
    height: 350px;
    background: #fff url(/img/csscomb.jpg) center no-repeat;
    background-size: cover;
    vertical-align: middle;
}
@media (max-width: 750px) {
    .comb {
        margin-right: 3vw;
        width: 40vw;
        height: 40vw;
    }
    .splash hgroup {
        font-size: 2.5vw;
    }
}
.splash {
    margin: 0 0 30px;
    padding: 30px 0;
    background: #fff;
}
.splash .content {
    display: -webkit-flex;
    display: flex;

    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.splash hgroup {
    display: inline-block;
    vertical-align: middle;
}
.splash h1 {
    text-align: left;
    font-weight: bold;
    font-size: 3em;
}
.splash h2 {
    text-align: left;
    font-size: 2em;
}

.header {
    position: relative;
    background: #e74c3c;
}
.header-title {
    float: left;
    margin: 0 0 0 -10px;
    padding: 15px 10px;
    color: #333;
    text-decoration: none;
    font-size: 1.6em;
}
.header-link {
    display: block;
    float: right;
    margin: 0 0 0 20px;
    padding: 20px 10px;
    text-decoration: none;
    font-size: 1.1em;
}
.header-title:link, .header-title:visited, .header-link:link, .header-link:visited {
    color: #fff;
}
.header-title:hover, .header-title:active, .header-link:hover, .header-link:active, .header-link.is-active {
    background: rgba(0, 0, 0, 0.15);
}
@media (max-width: 750px) {
    .header-title, .header-link {
        display: block;
        float: none;
        margin: 0;
        padding: 20px 10px;
    }
}

.content {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 900px;
}
.content:after {
    display: table;
    clear: both;
    content: '';
}


.demo-half {
    float: left;
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 0 10px;
    width: 50%;
}
.demo-textarea {
    display: block;
    box-sizing: border-box;
    margin: 1em 0;
    padding: 10px;
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
    font-family: monospace;
    resize: vertical;
}
.demo-textarea.is-hidden {
    display: none;
}
.demo-footer {
    clear: both;
    text-align: center;
}
.demo-button {
    margin: 1em 0;
    padding: 5px 15px;
    border: 1px solid #e74c3c;
    border-radius: 3px;
    background: #fff;
    color: #e74c3c;
    font-size: 1.1em;
    cursor: pointer;
}
.demo-button-grey {
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #ddd;
    color: #000;
    font-size: 1.1em;
    cursor: pointer;
}
.demo-button:hover, .demo-button:active {
    background-color: #e74c3c;
    color: #fff;
}
.demo-settings {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}
.demo-settings-link {
    display: inline-block;
    margin-left: 10px;
    border-bottom: 1px dotted #000;
    cursor: pointer;
}
.demo-settings-link:hover {
    border-color: #25a;
    color: #25a;
}
.demo-settings h3 {
    margin-top: 10px;
}
.demo-settings-form {
    margin: 100px auto 0;
    padding: 10px 25px;
    width: 400px;
    border-radius: 3px;
    background: #fff;
}
.demo-settings.is-active {
    display: block;
}
.demo-settings .demo-textarea {
    height: 300px;
}
.demo-option {
    display: block;
    margin: 5px 0 10px;
}
.demo-option input, .demo-option select {
    margin: 0 5px;
}
.demo-option input[type=text] {
    display: inline-block;
    padding: 3px 6px;
    width: 20px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.sidebar {
    float: right;
    margin-left: 40px;
    padding: 20px;
    border: 3px solid #f9f3d9;
    background: #fffdf0;
    list-style-position: inside;
    white-space: nowrap;
}
.sidebar a {
    color: #333;
}

.github-ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}
@media (max-width: 1200px) {
    .github-ribbon {
        display: none;
    }
}

.plugins {
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.plugins-link {
    display: inline-block;
    margin: 0 0 10px;
    padding: 15px;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    text-align: center;
}
.plugins-link:hover {
    border-color: rgba(0,0,0,0.2);
}
.plugins-link-humble {
    padding: 20px 15px;
    height: 90px;
}

#option {
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.option-variant {
    display: inline-block;
    margin: 0 0 20px 0;
    padding: 10px;
    width: calc(50% - 22px - 10px);
    border: 1px solid #ccc;
    background: #ecf0f1;
    vertical-align: top;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (max-width:500px) {
    .option-variant {
        width: calc(100% - 32px);
    }
}
.option-variant:hover {
    border-color: #999;
}
.option-variant_null {
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.option-variant pre {
    margin-bottom: 0;
    padding-bottom: 0;
}
.option-variant mark {
    padding: 1px;
    border-radius: 2px;
}
.options-result {
    overflow: auto;
    padding: 10px;
    padding: 6px 10px;
    width: 50%;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 13px;
    font-family: Consolas, Courier, monospace;
    line-height: 19px;
    resize: none;
}
@media (max-width: 500px) {
    .options-result {
        width: calc(100% - 20px);
    }
}

.option-progress {
    text-align: center;
}
#step {
    padding: 0 3px;
}

.footer {
    position: absolute;
    bottom: 0;
    display: -webkit-flex;
    display: flex;
    margin: 50px 0 0;
    width: 100%;
    background: #415b76;

    -webkit-justify-content: center;
    justify-content: center;
}

.footer-link.footer-link {
    display: inline-block;
    display: block;
    margin: 0 0 0 20px;
    padding: 20px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}
.footer-link.footer-link:hover, .footer-link.footer-link:active {
    background: rgba(0, 0, 0, 0.15);
}
